body {
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
}

header {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 130px;
}

.menu-mobile {
  display: none;
}

#menu__toggle {
  display: none;
}
  
.menu-burger {
  display: none;
}

label {
  display: none;
}

.logo, .menu {
  display: inline-block;
}

.logo {
  position: relative;
  padding: 40px 0 40px 50px;
  font: bold 24px/31px 'PT serif', sans-serif;
  letter-spacing: 1px;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_dark-blue {
  background: #0056EC;
}

.logo__circle_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}

.menu {
  font: normal 500 18px/21px 'Roboto', sans-serif;
  margin-right: 12px;
}

.menu__item1 {
  position: relative;
  margin-right: 27px;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item2 {
  position: relative;
  margin-right: 24px;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item3, .menu__item4 {
  position: relative;
  margin-right: 27px;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item5 {
  position: relative;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item_active:after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  left: 0;
  background: #0056EC;
}

.menu__item1:hover, .menu__item2:hover, .menu__item3:hover, .menu__item4:hover, .menu__item5:hover {
  font-weight: bold;
  opacity: .5;
}

.menu__item1:hover:after, .menu__item2:hover:after, .menu__item3:hover:after, .menu__item4:hover:after, .menu__item5:hover:after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  left: 0;
  background: #0056EC;
}

.menu__item1:after, .menu__item2:after, .menu__item3:after, .menu__item4:after, .menu__item5:after {
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  left: 0;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item1:hover:after, .menu__item2:hover:after, .menu__item3:hover:after, .menu__item4:hover:after, .menu__item5:hover:after, .menu__item_active:after {
  opacity: 1;
  width: 100%;
}

.main {
  padding: 0 54% 265px 0;
  background: top right no-repeat url(img/mainimg.svg);
}

.main__title {
  font: normal bold 66px/87px 'PT Serif', serif;
  align-items: center;
  color: #000;
  padding-top: 75px;
  margin-bottom: 0;
  letter-spacing: 3px;
}

.main__title-text-highlight {
  background: linear-gradient(180deg, rgba(255,255,255,1) 15%, #ECF3FF 15%);
}

.main__subtitle {
  font: normal normal 22px/26px 'Roboto', sans-serif;
  color: #000;
  padding-right: 240px;
  padding-top: 15px;
  margin-bottom: 40px;
}

.main__button {
  padding: 17px 32px 17px 25px;
  font: normal 500 18px/21px 'Roboto', sans-serif;
  background: #0056EC;
  border-radius: 4px;
  color: #FFF;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
  font-weight: bold;
}
.points {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 49%;
}

.points__item {
  width: 8px;
  height: 8px;
  background: #C8DBFB;
  margin-right: 4px;
  opacity: .7;
  border-radius: 50%;
  display: inline-block;
}

.movingLogo {
  animation-name: movingLogo;
  animation-duration: 2s; 
  animation-timing-function: ease-in-out; 
  visibility: visible !important;
  transition: opacity .5s
 }
 
@keyframes movingLogo {
  0% {
    transform: scale(0);
    opacity: .0;       
  }
  60% {
    transform: scale(1.1);
    opacity: .5; 
  }
  80% {
    transform: scale( .9);
    opacity: .7; 
  }   
  100% {
    transform: scale(1);
    opacity: 1; 
  }       
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .wrapper {
    width: 69%;
	  margin: auto;
  }
  header {
    padding-bottom: 34px;
	  margin: 0;
  }
  .menu-mobile {
    display: none;
  }
  #menu__toggle {
    display: none;
  }
  .menu-burger {
    display: none;
  }
  label {
    display: none;
  }
  .logo {
    font: bold 24px/32px 'PT serif', sans-serif;
    letter-spacing: 1px;
  }
  .menu {
    font: normal 500 14px/16px 'Roboto', sans-serif;
    margin-right: 12px;
  }
  .main {
	  background-size: 56%;
	  padding: 0 54% 68px 9px;
  }
  .main__title {
	  font: normal bold 50px/66px 'PT Serif', serif;
	  padding-top: 25px;
	  letter-spacing: 1.5px;
  }
  .main__subtitle {
	  font: normal 500 18px/21px 'Roboto', sans-serif;
	  padding-right: 10%;
  }
  .main__button {
	  font: normal 500 14px/16px 'Roboto', sans-serif;
	  padding: 15px 28px 14px 13px;
    margin-top: 2px;
  }
  .points {
	  margin-top: 77px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .wrapper {
	  width: 92%;
	}
	header {
		padding-bottom: 34px;
		margin: 0;
	}
	.menu-mobile {
		display: none;
	}
	#menu__toggle {
		display: none;
	}
	.menu-burger {
		display: none;
	}
	label {
	  display: none;
	}
	.logo {
		font: bold 24px/32px 'PT serif', sans-serif;
		letter-spacing: 1px;
	}
		.menu {
		font: normal 500 14px/16px 'Roboto', sans-serif;
	}
	.main {
		background-size: 56%;
		padding: 0 54% 68px 9px;
	}
	.main__title {
	  font: normal bold 50px/66px 'PT Serif', serif;
	  padding-top: 25px;
	  letter-spacing: 1.5px;
	}
	.main__subtitle {
	  font: normal 500 18px/21px 'Roboto', sans-serif;
	  padding-right: 10%;
	}
	.main__button {
	  font: normal 500 14px/16px 'Roboto', sans-serif;
	  padding: 15px 28px 14px 13px;
    margin-top: 2px;
	}
	.points {
		margin-top: 77px;
	}
}

@media (max-width: 768px) {
  .wrapper {
	  width: 87%;
	}
	header {
	  padding: 0;
		margin: 0;
		margin-top: 6px;
	}
	.menu {
		display: none;
	}
	.menu-burger {
		display: block;
	}
	.menu-mobile__item {
		font: normal 500 30px/35px 'Roboto', sans-serif;
		text-align: center;
		padding-bottom: 25px;
		padding-left: 0;
	}
	.main {
	  padding: 80% 0 0 0;
		background-size: 85%;
		background-position: top center;
		text-align: center;
		margin-top: 14px;
	}
	.logo {
	  padding: 0 0 68px 50px;
	}
	.logo__name {
		display: none;
	}
	.main__title {
	  font: normal bold 30px/40px 'PT Serif', serif;
		text-align: center;
		padding-top: 0;
		margin: 0;
		letter-spacing: 1.5px;
    padding-right: 0px;
    padding-left: 10px;		
	}
	.main__subtitle {
		font: normal 500 16px/19px 'Roboto', sans-serif;
		text-align: center;
		padding-top: 29px;
		margin-bottom: 40px;
		padding-right: 0;
    max-width: 270px;
    margin: 0 auto;
    letter-spacing: 0;
	}
	.main__button {
		font: normal 500 14px/16px 'Roboto', sans-serif;
		text-align: center;
		margin-top: 25px;
		padding: 13px 26px 11px 18px;
	}
	.points {
		display: none;
	}
	#menu-burger__toggle {
    display: none;
	}
	.menu-mobile {
		display: none;	
	}
	.menu-burger__button {
 	  display: flex;
 		align-items: center;
  	position: absolute;
 		top: 32px;
  	left: 87%;
  	width: 25px;
  	height: 17px;
  	cursor: pointer;
  	z-index: 1;
	}
	.menu-burger__button > span,
	.menu-burger__button > span::before,
	.menu-burger__button > span::after {
    display: block;
  	position: absolute;
 		width: 100%;
  	height: 2px;
  	background-color: #0056EC;
  	transition-duration: .5s;
	}
	.menu-burger__button > span::before {
  	content: '';
  	top: -8px;
	}
	.menu-burger__button > span::after {
  	content: '';
  	top: 8px;
	}
	#menu-burger__toggle:checked ~ .menu-mobile {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		height: 100%;
		display: block;
		background: white;
		padding-top: 50%;
		padding-bottom: 160px;
	}
	#menu-burger__toggle:checked ~ .menu-mobile__item {
		text-align: center;
		font: normal 500 30px/35px 'Roboto', sans-serif;
		padding-bottom: 24px;
		padding-left: 24px;
	}
	#menu-burger__toggle:checked ~ .menu-burger__button > span {
    transform: rotate(45deg);
	}
	#menu-burger__toggle:checked ~ .menu-burger__button > span::before {
  	top: 0;
  	transform: rotate(0);
	}
	#menu-burger__toggle:checked ~ .menu-burger__button > span::after {
  	top: 0;
  	transform: rotate(90deg);
	}
	#menu-burger__toggle:checked ~ .menu-mobile {
  	display: block;
  	left: 0;
	}
}








	
